[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "*"
firebase = "*"
pyrebase4 = "*"
pytz = "*"
cors = "*"
django-cors-headers = "*"
pypdf2 = "*"

[dev-packages]

[requires]
python_version = "3.11.2"
